In [1]:
import pandas as pd
import numpy as np

In [61]:
def process_data(path_to_df):
    
    df1 = (
        pd.read_csv(path_to_df, header=None)
        .rename(columns = {0: 'Age', 1: "Workclass", 2: "Final Weight", 3: "Education", 4: "Education Num", 5: "Marital Status",  6: "Occupation", 7: "Relationship", 8: "Race", 9: "Sex", 10: "Capital Gain", 11: "Capital Loss", 12: "Hours per Week", 13: "Native Country", 14: "Salary"})
        .fillna(method="ffill")
        .drop(["Capital Gain", "Capital Loss", "Final Weight", "Education Num"], axis=1)
    )
        
    return df1

In [62]:
df2 = process_data('../../../data/raw/adult.data')
df2.head()

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Sex,Hours per Week,Native Country,Salary
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K