In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from scripts.project_functions import *

%matplotlib inline

In [4]:
# Initial dataframe import

df = process_data('../../data/raw/adult.data')

In [5]:
# Initial dataframe visualization

print("Number of rows, columns: {}".format(df.shape))
df.head()

Number of rows, columns: (32561, 13)

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per Week,Native Country,Salary
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
# Viewing numerical column data basic statistics

pd.options.display.float_format = "{:.1f}".format
df.describe()

          Age  Capital Gain  Capital Loss  Hours per Week
count 32561.0       32561.0       32561.0         32561.0
mean     38.6        1077.6          87.3            40.4
std      13.6        7385.3         403.0            12.3
min      17.0           0.0           0.0             1.0
25%      28.0           0.0           0.0            40.0
50%      37.0           0.0           0.0            40.0
75%      48.0           0.0           0.0            45.0
max      90.0       99999.0        4356.0            99.0

In [7]:
# Number of unique values for each column

df.nunique(axis=0)

Age                73
Workclass           9
Education          16
Marital Status      7
Occupation         15
Relationship        6
Race                5
Sex                 2
Capital Gain      119
Capital Loss       92
Hours per Week     94
Native Country     42
Salary              2
dtype: int64

In [8]:
# Looking at some of the columns unique variables

print("Education uniques: \n{}\n".format(df.Education.unique()))
print("Relationship uniques: \n{}\n".format(df.Relationship.unique()))
print("Occupation uniques: \n{}".format(df.Occupation.unique()))

Education uniques:
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

Relationship uniques:
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Occupation uniques:
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

In [22]:
# Setting theme

sns.set_theme(style="ticks",
              font_scale=1.3,
             )

plt.rc("axes.spines", top=False, right=False)